# SPDX-FileCopyrightText: 2017-2020 CERN.
# SPDX-License-Identifier: MIT

# Check manifest will not automatically add these two files:
include .git-blame-ignore-revs
include .dockerignore
include .editorconfig
include .tx/config
include *.rst
include *.sh
include *.txt
include LICENSE
include pytest.ini
prune docs/_build
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include examples *.py
recursive-include examples *.sh
recursive-include invenio_queues *.html
recursive-include invenio_queues *.po *.pot *.mo
recursive-include tests *.py
recursive-include .github/workflows *.yml
